@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  font-family: 'Poppins', sans-serif;
}

button{
  color: hsl(214, 57%, 28%);
}

.logoImg img{
  width: 10rem ;
  padding: 1rem;
  margin: auto;
}

@media screen and (max-width: 1023px) {
  .logoImg img{
    width: 10rem ;
    padding: 1rem;
    margin: auto;
  }
}
